.page{
    min-width: 1280px;
    font-family: 'Inter', sans-serif;
    background-color: #2A2C2F;
    margin: 0 auto 0;
    color: white;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
}

@media screen and (max-width: 1279px) {
    .page{
        min-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .page{
        min-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .page{
        min-width: 320px;
    }
}