.lead{
    width: 984px;
    height: 1005px;
    margin: 56px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    position: relative;
}

@media screen and (max-width: 1279px){
    .lead{
        width: 928px;
        height: 962px;
        margin-top: 54px;
    }
    
}

@media screen and (max-width: 1023px){
    .lead{
        width: 768px;
        height: 862px;
        margin-top: 48px;
    }
    
}

@media screen and (max-width: 767px){
    .lead{
        width: 320px;
        height: 406px;
        margin-top: 48px;
    }
    
}