.cover__subtitle{
    width: 360px;
    z-index: 1;
    margin: 32px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
}

@media screen and (max-width: 767px) {
    .cover__subtitle{
        width: 288px;
        margin-top: 16px;
        font-size: 14px;
    line-height: 16px;
    }
    
}