.place__url-heading{
    color: rgba(170, 170, 170, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

@media screen and (max-width: 767px) {
    .place__url-heading{
        margin-bottom: 12px;
    }
    
}