.place__website__link{
    font-family: 'Inter';
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    transition: opacity linear;
}

.place__website__link:hover{
    opacity: .8;
}