.footer__copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .footer__copyright{
        line-height: 14px;
        margin-bottom: 24px;
        margin-right: auto;
        margin-left: 0;
        margin-top: 16px;
    }
    
}