.footer__copyright{
    position: absolute;
    right: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .footer__copyright{
        bottom: 0;
        left: 0;
        line-height: 14px;
        margin-bottom: 24px;
    }
    
}