.lead__image{
    width: 100%;
    height: 615px;
    margin: 64px 0 0;
    object-fit: cover;
}

@media screen and (max-width: 1279px){
    .lead__image{
        height: 580px;
        margin-top: 56px;
    }
    
}

@media screen and (max-width: 1023px){
    .lead__image{
        height: 480px;
        margin-top: 56px;
    }
    
}

@media screen and (max-width: 767px){
    .lead__image{
        height: 200px;
        margin-top: 40px;
    }
    
}