.cover{
    position: relative;
    width: 1184px;
    height: 740px;
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .cover{
        width: 1024px;
        height: 640px;
    }
    
}

@media screen and (max-width: 1023px) {
    .cover{
        width: 768px;
        height: 480px;
    }
    
}

@media screen and (max-width: 767px) {
    .cover{
        width: 320px;
        height: 200px;
    }
    
}