.cover__overlay{
    background: url(../../../images/cover-trains.jpg);
    background-color: #2A2C2F;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 1s linear;
}

.cover__overlay:hover{
    opacity: .3;
}