.footer__navigation{
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 767px) {
    .footer__navigation{
        gap: 32px;
        flex-direction: column;
        padding: 0;
    }
    
}