.place__website{
    width: 456px;
    align-self: end;
}

@media screen and (max-width: 1023px) {
    .place__website{
        width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__website{
        width: 288px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 32px;
    }
    
}